html {
    width: 320px;
}

a {
    text-decoration: none;
    color: #ccc
}

a:hover {
    text-decoration: underline;
    color: #ccc;
}

header > h1 {
    display: inline-block;
    font: 20px monospace;
    margin: 0px;
    padding: 0px;
}

header > #options_ui {
    float: right;
}

header > ul {
    list-style-type: none;
    padding: 0
}

li {
    display: inline;
}

.current_tab {
    color: black;
}

main > div > h2 {
    font: 16px monospace;
}

h3 {
    font: 12px monospace;
}

button {
    background: black;
    color: white;
    margin: 2px;
    padding: 2px;
}

input[type=text] {
    width: 240px;
}

textarea {
    width: 305px;
    height: 80px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    resize: none;
}

.convert {
    text-align: center;
}

#blacklist {
    max-height: 160px;
    overflow: scroll;
}

#profile_list {
    max-height: 160px;
    overflow: scroll;
}

.blacklist_type {
    color: blue;
}
